/*
Modified html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
em, img, ol, ul, li,
form, label,
article, footer, header, 
menu, nav, section,time {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:14pt;
    vertical-align:baseline;
    background:transparent;
}

article,footer,header,menu,nav,section { 
    display:block;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

input, select {
    vertical-align:middle;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

body, html {
    height: 100%;
}

body {
    background: #601e2f url('/images/background.png') repeat-y center;
    background-size: 100%;
    color: #FFFFFF;
    line-height:1;
    font-family: "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 130%;
}

#wrapper {
    /* for the footer */
    min-height: 100%;
}

header {
    margin: 25px auto 40px 160px;
}

header h1 {
    font-size: 3em;
}

#main {
    margin-left: 155px;
    background-color: #EBEBEB;
    width: 500px;
    border: 10px solid #BCBFB8;
    border-radius: 45px 45px 45px 45px;
    padding: 25px;
    color: #1B1B1B;
    font-size: 1.1em;
    line-height: 125%;

    /* Needed for the footer */
    padding-bottom: 100px;
    overflow: auto;
}

p {
    margin-bottom: 25px;
}

ol, ul {    
    list-style: none;
}

form li {
    display: inline;
}

input {
    width: 210px;
    font-size:100%;
}

button {
    margin-top: 5px;
    margin-left: 323px;
    font-size:100%;
}

#main ol {
    margin-top: 25px;
}

.byline {
    color: #A5A5A5;
    font-size: 95%;
}

#loading {
    display: none;
}

.thin {
    font-size: 80%;
    font-weight: 100;
}

footer {
    background-color: #2f2c2e;
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear: both;
}

footer ul {
    padding-top:35px;
    padding-left: 160px;
}

footer li {
    display: inline;
    margin-right: 20px;
}


