/*
Modified html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
em, img, ol, ul, li,
form, label,
article, footer, header, 
menu, nav, section,time {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:14pt;
    vertical-align:baseline;
    background:transparent;
}

article,footer,header,menu,nav,section { 
    display:block;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

input, select {
    vertical-align:middle;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

body {
    background: #550F1C url('/images/background.png') repeat-y right top;
    color: #FFFFFF;
    line-height:1;
    font-family: "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 130%;
}

header {
    margin: 25px auto 40px 160px;
}

header h1 {
    font-size: 3em;
}

section {
    height: auto;
    margin-left: 155px;
    margin-bottom: 65px;
    background-color: #EBEBEB;
    width: 500px;
    border: 10px solid #BCBFB8;
    border-radius: 45px 45px 45px 45px;
    padding: 25px;
    color: #1B1B1B;
    font-size: 1.1em;
    line-height: 125%;
    
}

p {
    margin-bottom: 25px;
}

ol, ul {    
    list-style: none;
}

form li {
    display: inline;
}

label {
    display: block;
}

input {
    width: 210px;
    font-size:100%;
}

button {
    margin-left: 265px;
    font-size:100%;
}

section ol {
    margin-top: 25px;
}

.artist {
    color: #A5A5A5;
    font-size: 95%;
}

footer {
    position: relative;
    height: 50px;
    clear:both;
    background: #1F1F1F;
    width: 100%;
    padding-top: 20px;
}

footer ul {
    width: 60%;
    margin-left: 160px;
}

footer li {
    display: inline;
    padding-right: 47px;
    font-size: 1.3em;;
}

footer li:last-child {
    padding: 0;
}

footer li a, footer li a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

.us {
    font-size: 80%;
    font-weight: 100;
}

